{% extends 'semantics/main.html' %}

{% block title %}
<title>Denotational semantics</title>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form action="{% url 'semantics:denotation' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="code_area">Your code here</label>
          <textarea style="white-space: pre-wrap;" id="code_area" class="form-control" name="code" cols="80" rows="10" type="text">{{data.code}}</textarea>
        </div>
        <button class="btn btn-primary" id="apply_btn" type="submit">Apply denotational semantics</button>
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <button class="btn btn-primary" id="next_step_btn">Next step</button>
    </div>
    <div class="col-sm-8">
        {% if data.is_mistake == True %}
        <p>There is a mistake in: {{data.mistake}}</p>
        {% else %}
          {% for step in data.steps %}
          {% if forloop.counter0 == 0 %}
          <div id="step_{{forloop.counter0}}">
          {% else %}
            <div style="display:none;" id="step_{{forloop.counter0}}">
          {% endif %}
              {{step}}
              <hr>
            </div>
          {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  let counter = 1
  function update_counter(a){
    document.getElementById("step_"+counter).style.display = "block"
    counter += 1
  }
  document.getElementById("next_step_btn").addEventListener("click", update_counter)
  document.getElementById("apply_btn").addEventListener("click", update_counter)
</script>
{% endblock %}
