{% extends 'semantics/main.html' %}

{% block title %}
<title>Main page</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>Here some text</p>
      </div>
    </div>
  </div>
{% endblock %}
