<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
  {% block title %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
</head>
<body>
  <div class="jumbotron text-center" style = "margin-bottom:0">
    <h1>Fun with formal semantics</h1>
  </div>
  {% url 'semantics:index' as url_home %}
  {% url 'semantics:denotation' as url_denotation %}
  {% url 'semantics:weakest_precondition' as url_weakest_precondition %}
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
   <a class="navbar-brand" href="{{url_home}}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{url_denotation}}">Denotational semantics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_weakest_precondition}}">Weakest precondition</a>
        </li>
      </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>
  {% block scripts %}
  {% endblock %}
</html>
